* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  background-color: #fbc0bf;
  word-spacing: 0px;
  line-height: 25px;
}

.wrapper {
  margin: 0 auto;
  width: 80%;
  height: max-content;
  background-color: #ffffff;
}

nav {
  width: 100%;
  height: 100px;
  background-color: #ffdcdb;
}

ul {
  margin-left: 40px;
}

ul li {
  list-style: none;
  display: inline-block;
  float: left;
  line-height: 100px;
}

ul li a {
  display: block;
  text-decoration: none;
  font-size: 19px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: #ecad8f;
  padding: 0 20px;
}

ul li a:hover {
  color: #af6e4e;
}

.img-me {
  width: 160px;
  border-radius: 80px;
  float: left;
  margin-right: 50px;
}

.MBT {
  width: 200px;
  text-align: center;
}

.profile {
  width: 450px;
  text-align: center;
}

.Cal {
  width: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.container {
  margin: 0 auto;
  width: 80%;
  height: max-content;
  padding: 40px;
  flex-flow: column wrap;
}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
  font-style: italic;
}

.link {
  text-align: center;
}

.red {
  text-align: center;
  color: #ff6962;
  font-weight: bold;
}

.amber {
  text-align: center;
  color: #ffb347;
  font-weight: bold;
}

.green {
  text-align: center;
  color: #5fa777;
  font-weight: bold;
}

.personality {
  text-align: center;
}
